@model List<ServiceViewModel>

@{
    ViewData["Title"] = "Diamond клининг г. Владимир";
}

<h2 class="headerText">
    Виды наших услуг
</h2>

<div class="row">
@foreach(var service in @Model)
{
    <div class="col-4 card shadow">
           <img src="@service.Link" alt="Изображение услуги" />
            <div class="card-body">
                <a class="btn btn-success" asp-area="" asp-controller="Service" asp-action="Index" asp-route-serviceId="@service.Id" role="button">Подробнее</a>
            <h5>@service.Name</h5>
        <h5>@service.Cost</h5>
                <a class="btn btn-success" asp-area="" asp-controller="Cart" asp-action="Add" asp-route-serviceId="@service.Id" role="button">Заказать</a>
                <a class="btn btn-success" asp-area="" asp-controller="Favourite" asp-action="Add" asp-route-serviceId="@service.Id" role="button">Добавить в избранное</a>
        </div>
    </div>
}
</div>

<p>
    <div class="timeStyle">
        Контактная информация
    </div>
</p>


<li class="timeStyle">
    <a href="mailto:elenakuzmicheva77@gmail.com">
        <span>
            elenakuzmicheva77@gmail.com
        </span>
    </a>
</li>

<li class="timeStyle">
    <a>
        +7 (919) 025-54-43
    </a>
</li>

<li class="footer-info__contact">
    <a>
    <span class="headerText">Режим работы</span>
    </a>
</li>

<li class="footer-info__contact">
    <a>
       с 10:00 до 22:00 без выходных
       </a>
</li>

<div class="text-center">
    <h5 class="headerText">
        Добро пожаловать! 
     </h5>
    <p>
        <b>
            @ViewData["CurrentDate"]
        </b>
        </p> 
    <p class ="textStyle">Наша группа Вконтакте <a href="https://vk.com/diamondclean1ng">Чистота - залог успеха!</a>.</p>
</div>
