@model Order;

<form method="post">
<div class="row">
        <div class="col-6 card shadow-lg">
            <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>
            <div class="form-group" style="margin:10px">
                <label asp-for="@Model.User.Name">ФИО*</label>
                <input asp-for="@Model.User.Name" type="text" class="form-control" id="Name" placeholder="Фисенко Кирилл Андреевич" />
                <span asp-validation-for="@Model.User.Name" />
            </div>
            <div class="form-group" style="margin:10px">
                <label asp-for="@Model.User.Email">Email*</label>
                <input asp-for="@Model.User.Email" type="email" class="form-control" id="Email" placeholder="name@example.com" />
                <span asp-validation-for="@Model.User.Email" />
            </div>
            <div class="form-group" style="margin:10px">
                <label asp-for="@Model.User.Phone">Телефон*</label>
                <input asp-for="@Model.User.Phone" type="text" class="form-control" id="Phone" placeholder="+7 (926) 546-3469" />
                <span asp-validation-for="@Model.User.Phone" />
            </div>
            <div class="form-group" style="margin:10px">
                <label asp-for="@Model.User.Address">Адрес*</label>
                <input asp-for="@Model.User.Address" class="form-control" id="Address" placeholder="г. Владимир, ул. Большая Московская, д. 150">
                <span asp-validation-for="@Model.User.Address" />
            </div>
            <div class="form-group" style="margin:10px">
                <label for="exampleFormControlTextarea1">Комментарии к заказу</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
    <div class="col-1"></div>
    <div class="text-center" style="margin:30px">
        <a class="btn btn-outline-secondary btn-lg" asp-controller="Home" asp-action="Index" role="button">Продолжить покупки</a>
        <button class="btn btn-success" type="submit" asp-controller="Order" asp-action="Buy" role="button">Оформить заказ</button>
    </div>
</div>
</form>

