@model Order;

@{
    ViewData["Title"] = "Заказ оформлен";
}
<div class="text-center">
    <h4>Уважаемый @Model.Name, ваш заказ успешно создан!</h4>

    <div class="col-6 card shadow-lg">
        <h4>Данные заказчика</h4>
        <table class="table" style="font-size: 12px">
            <thead>
                <tr>
                    <th class="col-5">ФИО</th>
                    <th class="col-2">Телефон</th>
                    <th class="col-2">E-mail</th>
                    <th class="col-3">Адрес</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Name</td>
                    <td>@Model.Phone</td>
                    <td>@Model.Email</td>
                    <td>@Model.Address</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br />

<h1>Заказ оформлен</h1>
<a class="btn btn-outline-success btn-lg" asp-controller="home" asp-action="index" role="button">Вернуться на главную</a>


