@model List<User>
@{
    int i = 1;
}

<div class="row">
    @await Html.PartialAsync("MenuAdministrator")

    <div class="col-9">
        <h3 class="text-center">Пользователи</h3>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Email</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Телефон</th>
                        <th>Роль</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td> @i </td>
                            <td>@user.Name</td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.Phone</td>
                            <td>@user.Role.Name</td>
                            <td class="col-4 text-end">
                                <a class="btn btn-outline-warning" asp-area="Administrator" asp-controller="User" asp-action="Details" asp-route-id="@user.Guid"><i class="bi bi-pencil">Подробнее</i></a>
                            </td>
                        </tr>
                        i += 1;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>